<% if signed_in? %>
  <div class="row">
    <h1>Home of <%= @user.name %></h1>
    <aside class="span3">
      <% if false %>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <% end %>
    </aside>
    <div class="span8">
      <div><%= "Wins: #{@user.win_count} | Losses: #{@user.loss_count}" %></div>
      <h3>Create a new game</h3>
      <%-# create a new game here -%>
      <%= link_to "New game", new_game_path, class: "btn btn-medium btn-primary" %>
      <h3>Ongoing and Waiting Games <%="(#{@waiting_ongoing_games.count})" unless @waiting_ongoing_games.empty? %></h3>
      <ol class="games">
        <%= render(@waiting_ongoing_games) || "There are no active games at the moment." %>
      </ol>
      <% if false %>
      <h3>Game History <%="(#{@games.count})" unless @games.empty? %></h3>
      <ol class="games">
        <%= render(@games) || "There are no completed games on record." %>
      </ol>
      <% end %>
    </div>
  </div>
<% else %>
<div class="center hero-unit">
  <h1>Checkers Game App</h1>

  <p>
  	Welcome to the home of my SWE 681 school project, Checkers on Rail app.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center">
<%= link_to image_tag("Norman_Bethune_checkers_1937.jpg", alt: "Checkers"), 'http://simple.wikipedia.org/wiki/Checkers' %></br>image from <a href="http://upload.wikimedia.org/wikipedia/commons/b/b3/Norman_Bethune_checkers_1937.jpg">wikipedia</a>
</div>
<% end %>