<% provide(:title, 'All users') %>
<div class="row">
<h1>All Users</h1>
	<aside class="span3">
		<section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
<div class="span9">
<%= will_paginate %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate %>
  </div>
</div>