<% provide(:title, @user.name) %>
<div class="row">
  <h1>Profile for <%= @user.name %></h1>
    <aside class="span2">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
  </aside>
  <div class="span8">
    <div><%= "Wins: #{@user.win_count} | Losses: #{@user.loss_count}" %></div>
    <h3>Ongoing and Waiting Games <%="(#{@waiting_ongoing_games.count})" unless @waiting_ongoing_games.empty? %></h3>
    <ol class="games">
      <%= render(@waiting_ongoing_games) || "There are no active games at the moment." %>
    </ol>
    <h3>Game History <%="(#{@games.count})" unless @games.empty? %></h3>
    <ol class="games">
      <%= render(@games) || "There are no completed games on record." %>
    </ol>
  </div>
</div>