<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <% if @ongoing_games.any? %>
      <h3>Ongoing Games (<%= @ongoing_games.count %>)</h3>
      <ol class="games">
        <%= render @ongoing_games %>
      </ol>
    <% end %>
    <h3>Game History (<%= @games.count %>)</h3>
    <ol class="games">
      <%= render(@games) || "There are no games." %>
    </ol>
  </div>
</div>