<%= javascript_tag do %>
	(function(){
	  setInterval(function(){sendHeartbeat();},3000);
      function sendHeartbeat(){
	      var request = $.ajax({
	        url: location.pathname + '/myturn',
	        type: 'GET',
	        dataType: 'html',
	        contentType: 'application/json',
	        mimeType: 'application/json',
	        beforeSend: function (data) {
	          
	        },
	        success: function (data) {
	          // console.log(data);
	          console.log(data)
	        },
	        error: function (data, status, er) { }
	      });
	    }
	})();
<% end %>
<h1>Play!</h1>
<div id="board-container">
    <table id="board" style="text-align:center;">
    	<% if false %><%= image_tag('MiLLkE7gT.png') %><% end %>
		<% for y in 0..7 %>
			<tr class="<%= 'y' + y.to_s %>" >
			<% for x in 0..7 %>
				<% if( (x+y) % 2 == 1) %>
					<td class="<%=  'x' + x.to_s %> dojoDndTarget dojoDndContainer dp">
					<%  @piece = @board[y][x] %>
					<% if (@piece != 0) %>
						<% @location = @pieceImages[@piece.to_s]  %>
						<%= image_tag @location, :class => "dojoDndItem" %>
					<% end %>
					</td>
				<% else %>
					<td></td>
				<% end %>
			<% end %>
			</tr>
		<% end %>
    </table>
</div>