<%= javascript_tag do %>
	(function(){
		setImageHash('<%= image_tag @pieceImages['1'] %>','<%= image_tag @pieceImages['2'] %>','<%= image_tag @pieceImages['-1'] %>','<%= image_tag @pieceImages['-2'] %>');

		setDraggableImageHash('<%= image_tag @pieceImages['1'], :class => "dojoDndItem" %>','<%= image_tag @pieceImages['2'], :class => "dojoDndItem" %>','<%= image_tag @pieceImages['-1'], :class => "dojoDndItem" %>','<%= image_tag @pieceImages['-2'], :class => "dojoDndItem" %>');

		setTurnColor('<%= @turn %>');
		window.onload=function(){
			sendHeartbeat();
			window.refreshIntervalId = setInterval(function(){sendHeartbeat();},3000);
		};
	})();
<% end %>

<h1>Checkers</h1>
<div id='match-title'><%= render partial: "matchtitle" %></div>
<%= content_tag(:div, "Wait for your turn", class: "alert alert-warning", id:"game-message") %>

<div id="board-container">
    <table id="board" style="text-align:center;">
		<% for y in 0..7 %>
			<tr class="<%= 'y' + y.to_s %>" >
			<% for x in 0..7 %>
				<% if( (x+y) % 2 == 1) %>
					<td class="<%=  'x' + x.to_s %> dojoDndTarget dojoDndContainer dp">
					<%  @piece = @board[y][x] %>
					<% if (@piece != 0) %>
						<% @location = @pieceImages[@piece.to_s]  %>
						<% if @turn.eql? 'red' and @piece > 0 and @game.ongoing? %>
							<%= image_tag @location, :class => "dojoDndItem" %>	
						<% elsif @turn.eql? 'white' and @piece < 0 and @game.ongoing? %>
							<%= image_tag @location, :class => "dojoDndItem" %>
						<% else %>
							<%= image_tag @location %>
						<% end %>
					<% end %>
					</td>
				<% else %>
					<td></td>
				<% end %>
			<% end %>
			</tr>
		<% end %>
    </table>
</div>

