<li>
  <span class="content">
  	Game #: <%= game.id %> | 
  	<%= "Red: #{game.red.name}" unless game.red.nil? %> 
    <%= "vs." if game.is_full? %>
  	<%= "White: #{game.white.name}" unless game.white.nil? %>
  	<%= "| Winner: #{game.winner.name}" unless game.winner.nil? %>  
  	<% if !game.has_winner? and game.in_game?(current_user)%>
	  	<%= link_to "Rejoin", rejoin_game_path(game), class: "btn btn-medium btn-primary" %>
    <% elsif game.need_player? %>
      <%= link_to "Join", join_game_path(game), class: "btn btn-medium btn-primary" %>
	  <% elsif !game.ongoing? %>
	  	<%= link_to "Boxscore", game, class: "btn btn-medium btn-primary" %>
    <% else %>
	  <% end %>
    <% if current_user.admin? %>
      <%= link_to "delete", game, method: :delete,
                                    data: { confirm: "You sure?" },
                                    class: "btn btn-medium btn-primary" %>
    <% end %>
  </span>
  <span class="timestamp">
    Started <%= time_ago_in_words(game.created_at) %> ago.
  </span>
</li>