<div>
	<h3>Game Id: <%= @game.id %></h3>
	<p>
	<%= "Red: #{@game.red.name}" unless @game.red.nil? %></br>
	<%= "White: #{@game.white.name}" unless @game.white.nil? %></br>
	<%= "Winner: #{@game.winner.name}" unless @game.winner.nil? %></p>
	<div>
		<h3><%= "Game Moves" if @moves.any? %></h3>
		<% if false %><ol><%= render @moves %></ol><% end %>
		<table class="table table-hover table-condensed">
			<tr>
				<th>Turn Color</th>
				<th>Movetext</th>
				<th>Board State (After move/jump)</th>
				<th>Timestamp</th>
			</tr>
			<%= render @moves %>
		</table>
	</div>
</div>