<% provide(:title, "Game number: #{@game.id}" ) %>
<% content_for :player do %>
  <%= javascript_include_tag "test", "data-turbolinks-track" => true %>
<% end %>
<div class="row">
	<aside class="span2">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
	<div class="span8">
    <%= render partial: "board" if @game.waiting? or @game.ongoing? %>
    
		<% if false %>
    <%= render partial: "wait_mode" if @game.waiting? %>
		<%= render partial: "play_mode" if @game.ongoing? %>
    <% end %>
		<%= render partial: "game_results" if @game.has_winner? %>
	</div>
</div>