<% provide(:title, "Game number: #{@game.id}" ) %>
<div class="row">
	<aside class="span2">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
	<div class="span8">
		<%= render partial: "wait_mode" if @game.waiting? %>
		<%= render partial: "play_mode" if @game.ongoing? %>
		<%= render partial: "game_results" if @game.has_winner? %>
	</div>
</div>